.tooltip {
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  z-index: 20;
  background-color: var(--orange);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: "";
    border-radius: 50%;
    position: absolute;
    z-index: 19;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    background: rgba(232, 170, 49, 0.5);
  }
  &::after {
    content: attr(data-tooltip-text);
    bottom: calc(100% + 15px);
    background-color: var(--black);
    color: white;
    padding: 10px;
    border-radius: 12px;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    transition: ease 0.7s;
    font-size: 14px;
  }

  @media (any-hover: hover) {
    &:hover {
      &::after {
        pointer-events: all;
        opacity: 1;
      }
    }
  }
}
