@import "base/mixins";
@import "base/funcs";

@import "vars";

body {
  @include adaptive-value("font-size", 18, 16, $type);
  font-weight: 500;
  font-family: $generalFont;
  line-height: 1.5;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1630px;
  padding: 0px 15px;
  margin: 0 auto;
}

h1 {
  @include adaptive-value("font-size", 36, 26, $type);
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.03em;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

h5 {
  font-size: 18px;
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.hr-grey {
  height: 1px;
  background: rgba(20, 20, 20, 0.15);
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
  background-color: var(--orange);
  padding: 10px;
  box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
  border-radius: 3px;
  text-align: center;
  max-width: 228px;
  transition: ease 0.7s;
  color: white;
  font-weight: 600;
  white-space: nowrap;
  @media (any-hover: hover) {
    &:hover {
      background-color: #fcc24e;
    }
  }
}

.button--transparent {
  background-color: transparent;
  border: 2px solid var(--orange);
  color: var(--orange);
  @media (any-hover: hover) {
    &:hover {
      background-color: var(--orange);
      color: white;
    }
  }
}

.button--black {
  border: black 1px solid;
  background: #000000;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  @media (any-hover: hover) {
    &:hover {
      color: black;
      background-color: transparent;
    }
  }
}

.main {
  margin-top: var(--headerHeight);
}

.scroll-lock {
  overflow: hidden;
}

.desktop-hidden {
  display: none !important;
}

.no-padding {
  padding: 0 !important;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.section-more {
  display: inline-flex;
  gap: 15px;
  align-items: center;
  font-size: 18px;
  color: rgba(20, 20, 20, 0.58);

  &::after {
    content: "";
    background: url(../images/icons/arrow.svg) center / cover no-repeat;
    width: 16px;
    height: 10px;
    transform: rotate(-90deg);
  }
}
