@media (max-width: 900px) {
  .desktop-hidden {
    display: block !important;
  }

  .mobile-hidden {
    display: none;
  }

  .main {
    margin-top: var(--headerTopHeight);
  }
}

// @media (max-width: 500px) {
//   .section-header {
//     flex-direction: column;
//     justify-content: start;
//     align-items: start;
//   }
// }
