@import "../common/others-catalog-cards";

.others-cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  padding: 60px 15px;
  gap: 50px;
}

@media (max-width: 790px) {
  .others-cards__container {
    grid-template-columns: repeat(auto-fit, minmax(auto, 100%));
  }
}
