@import "base/nullstyle";
@import "base/generals";
@import "https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css";

@import "components/header";

@import "base/media";

.intro {
  color: white;
  position: relative;
  z-index: 19;
  background: url(../images/intro/background.png) center / cover no-repeat;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    height: 100%;
    background: url(../images/intro/backgroundLayer.png) center / cover no-repeat;
  }
}

.intro__container {
  padding-top: 36px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 40%;
  column-gap: 25px;
  z-index: 21;
}

.intro__title {
  line-height: 1.27;
}

.intro__desc {
  line-height: 150%;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.intro__desc--color1 {
  color: rgba(255, 255, 255, 0.9);
}

.intro__desc--color2 {
  color: rgba(255, 255, 255, 0.8);
}

.intro__block-text {
  overflow: hidden;
  grid-column: 1/1;
  grid-row: 1/1;
}

.intro__header {
  max-width: 915px;
}

.intro__button {
  margin-top: 30px;
}

.intro__swiper {
  margin-left: 0;
  // max-width: 950px;
}

.intro__swiper-wrapper {
}

.intro__swiper-slide {
}

.intro__swiper-progress {
  margin-top: 30px;
}

.intro__block-img {
  // display: none;
  grid-column: 2/2;
  grid-row: 1/1;
  align-self: center;
  position: relative;
  justify-self: center;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 3%;
    display: inline-block;
    width: 76.5%;
    height: 84.5%;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    z-index: 4;
    // display: none;
  }
}

.intro__img {
  max-width: 100%;
  position: relative;
  z-index: 5;
  @include adaptive-value("padding-right", 100, 25, $type);
  // padding-right: 100px;
}

.intro__tooltip {
  position: absolute;
}

[data-tooltip="1"] {
  top: 43%;
  left: 7%;
}

[data-tooltip="2"] {
  top: 14%;
  right: 21%;
}

[data-tooltip="3"] {
  top: 70%;
  right: 23%;
}

.intro__benefits {
  padding: 30px 0px;
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  min-height: 280px;
  background: linear-gradient(180deg, rgba(53, 53, 53, 0) 0%, rgba(20, 20, 20, 0.5) 100%);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}
.intro__benefit {
  display: flex;
  text-align: center;
  max-width: 265px;
  gap: 17px;
  flex-direction: column;
  align-items: center;
}
.intro__benefit-img {
}
.intro__benefits-texts {
}
