@import "base/nullstyle";
@import "base/generals";

@import "https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css";

@import "components/common/catalog-nav";
@import "components/common/sliders";
@import "components/common/tooltips";
@import "components/common/checkboxes";
@import "components/common/choices.min";
@import "components/common/tabs";

@import "components/blocks/header";
@import "components/blocks/footer";
@import "components/blocks/product-slider";

.product__container {
  padding: 30px 15px 120px 15px;
}

.product-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  margin-top: 30px;
}

.product-block-info {
  background: #fefefe;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
}

.product-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 30px;
  row-gap: 15px;
  padding-bottom: 30px;
}

.product__title {
  grid-column: 1/2;
  line-height: 1.4;
}

.product__rating {
  display: flex;
  align-items: center;
  gap: 10px;
  grid-column: 2/3;
  white-space: nowrap;
}

.product-actions {
  grid-column: 3/3;
  display: flex;
  align-items: center;
  gap: 30px;
}

.product-state {
}
.product-state__text {
}

.product-state__text--color-green {
  color: #24ad53;
}

.product-state__text--color-red {
  color: #e7401b;
}

.product-info {
  padding: 30px 0px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
  row-gap: 15px;
}

.product-info__title {
}
.product-info__text {
  color: rgba(20, 20, 20, 0.5);
}

.product-options {
  padding: 30px 0px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 35px;
  row-gap: 20px;

  .choices {
    margin: 0;
  }

  .choices__inner {
  }

  .choices__list--dropdown .choices__item {
    @media (any-hover: hover) {
      &:hover {
        background-color: black;
        color: white;
        opacity: 1;
      }
    }
  }

  .choices__list {
  }

  .choices[data-type*="select-one"]::after {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    border: none;
    width: 45px;
    height: 100%;
    background: url(../images/icons/arrow.svg) center no-repeat;
    background-color: black;
    transform: translate(0, -50%);
    right: 0;
  }

  .choices[data-type*="select-one"].is-open::after {
    transform: translate(0px, -50%) rotate(180deg);
  }

  // .choices__inner {
  //   padding-right: 0;
  // }
}
.product-options__title {
}
.product-options__select {
}

.product-footer {
  display: grid;
  row-gap: 30px;
  padding-top: 30px;
}

.product-price {
  grid-column: 1/2;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 15px;
}

.product-points {
  grid-column: 2/2;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-self: end;
}

.product-points__text {
  color: rgba(20, 20, 20, 0.5);
}

.product-amount {
  display: flex;
  align-items: center;
}

.product-amount__button {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: black;
}

.product-amount__number {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-footer__buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.product-block-images {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  overflow: hidden;
  width: 100%;
}

.product-block-images__block-slider {
  overflow: hidden;
  // flex: 0 0 percent(577, 788);
}

.product-images-slider {
  height: 100%;
}

.product-images-slider__slide {
  padding-bottom: 80%;
}

.product-block-images__main-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.product-block-images__block-thumbs {
  // flex: 0 1 percent(195, 788);
}

.product-images-thumbs {
  height: 100%;
}

.product-images-thumbs__slide {
  padding-bottom: 25%;
}

.product-block-images__thumb-img {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.product-block-tabs {
  margin-top: 120px;
  grid-column: 1/3;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.product-block-tabs__links {
  display: flex;
  align-items: center;
  @include adaptive-value("gap", 60, 25, $type);
  padding: 30px 0px 20px 0px;
  margin: 0px 30px;
  border-bottom: 1px solid rgba(20, 20, 20, 0.15);
  scroll-snap-type: x mandatory;
  overflow: scroll;
  min-height: 84px;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.product-block-tabs__link {
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  color: rgba(20, 20, 20, 0.5);
  transition: ease 0.7s;
  scroll-snap-align: center;

  &::after {
    content: "";
    position: absolute;
    transition: ease 0.7s;
    top: calc(100% + 20px);
    left: 0;
    display: inline-block;
    width: 0;
    height: 2px;
    background-color: var(--orange);
  }
  &.active {
    color: black;
    &::after {
      width: 100%;
    }
  }
}
.product-block-tabs__body {
  transition: ease 0.7s;
}

.product-block-tabs__body-item {
  transition: ease 0.7s;
  padding: 30px;
}

.product-desc {
  flex-direction: column;
  gap: 20px;
  &.active {
    display: flex;
  }
}

.product-features {
  padding-left: 0;
  padding-bottom: 0;
  padding-right: 0;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  &.active {
    display: grid;
  }
}

.product-features__item {
  display: grid;
  align-content: start;
  row-gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding: 0px 30px;
  padding-bottom: 30px;
  &:not(:first-child) {
    border-left: 1px solid rgba(20, 20, 20, 0.15);
  }
}

.product-features__item-title {
  font-weight: 700;
  grid-column: 1/3;
  margin-bottom: 10px;
}
.product-features__title {
  grid-column: 1/2;
}
.product-features__text {
  grid-column: 2/3;
}

.product-delivery {
}

.product-delivery__options {
  max-width: 465px;
  padding: 0;
}

.product-delivery__options-title {
  font-weight: 700;
}

.product-delivery__options-select {
}

@import "base/media";

@media (max-width: 1300px) {
  .product-blocks {
  }

  .product-block-images {
    max-width: 750px;
    grid-column: span 2;
    justify-self: center;
  }

  .product-block-info {
    max-width: 750px;
    grid-column: span 2;
    justify-self: center;
  }

  .product-images-slider__slide {
  }

  .product-images-thumbs__slide {
  }
}

@media (max-width: 630px) {
  .product__rating {
    grid-column: 1/3;
    grid-row: 3/3;
  }

  .product-block-info__options,
  .product-block-info__info {
    grid-template-columns: 1fr;
  }

  .product-points {
    grid-row: 3/3;
    grid-column: span 2;
  }

  .product-amount {
    grid-column: 2/3;
    justify-self: end;
  }

  .product-footer__buttons {
    grid-column: 1/3;
  }
}

@media (max-width: 430px) {
  .product-footer {
    grid-template-columns: 1fr;
    & > * {
      grid-column: span 1;
    }
  }
  .product-amount {
    justify-self: start;
  }

  .product-points {
    grid-row: 4/4;
  }

  .product-footer__buttons {
    flex-wrap: wrap;
    & > * {
      max-width: 100%;
    }
  }
}
